In [26]:
import pandas as pd
import numpy as np

In [34]:
categories = pd.read_csv('data/categories.csv.gz', compression='gzip', index_col='GROUP_ID')
categories.head()

,NAME,PATH
GROUP_ID,,
6,Продукты питания,Прод->Продукты питания
7,Табачные изделия,Непрод->Табачные изделия
9,н/д,н/д->н/д
12,"Бытовая техника, оборудование и электроника","Непрод->Бытовая техника, оборудование и электр..."
14,"Косметика, гигиена и парфюмерия","Непрод->Косметика, гигиена и парфюмерия"

In [35]:
categories = categories['PATH'].str.split('->', expand=True).rename(columns={0: 'category', 1: 'sub_category'})
categories.head()

         category                                 sub_category
GROUP_ID
6            Прод                             Продукты питания
7          Непрод                             Табачные изделия
9             н/д                                          н/д
12         Непрод  Бытовая техника, оборудование и электроника
14         Непрод              Косметика, гигиена и парфюмерия

In [36]:
categories['category'].unique()

array(['Прод', 'Непрод', 'н/д', 'Позиция по свободной цене', 'Алкоголь'], dtype=object)

In [30]:
categories['sub_category'].unique()

array(['Продукты питания', 'Табачные изделия', 'н/д',
       'Бытовая техника, оборудование и электроника',
       'Косметика, гигиена и парфюмерия', 'Муз.инструменты', 'Канцтовары',
       'Текстильные товары', 'Спорттовары', 'Упаковка', 'Бытовые услуги',
       'Одежда и галантерея', 'Автомобили и мотоциклы', 'Хозтовары',
       'Обувь', 'Детские товары, игрушки', 'Мед.товары', 'Стройматериалы',
       'Сувениры', 'Цветы', 'Позиция по свободной цене', 'Алкоголь',
       'Пиво, слабоалкогольные напитки', 'Компьютерная техника и ПО',
       'Зоотовары', 'Мебель', 'Книги', 'Игрушки для взрослых',
       'Ювелирные изделия'], dtype=object)

In [39]:
mapper = {'Алкоголь': 'Прод', 'Прод': 'Прод', 'Непрод': 'Непрод', 'н/д': 'Непрод',
              'Позиция по свободной цене': 'Непрод'}
categories['low_category'] = categories['category'].apply(lambda row: mapper[row])
categories.head()

         category                                 sub_category low_category
GROUP_ID
6            Прод                             Продукты питания         Прод
7          Непрод                             Табачные изделия       Непрод
9             н/д                                          н/д       Непрод
12         Непрод  Бытовая техника, оборудование и электроника       Непрод
14         Непрод              Косметика, гигиена и парфюмерия       Непрод

In [40]:
categories.to_csv('data/categories_parsed.csv.gz', compression='gzip')

In [57]:
pd.read_csv('data/categories_parsed.csv.gz', compression='gzip', index_col='sub_category').to_dict()

{'GROUP_ID': {'Автомобили и мотоциклы': 22,
  'Алкоголь': 34,
  'Бытовая техника, оборудование и электроника': 12,
  'Бытовые услуги': 20,
  'Детские товары, игрушки': 26,
  'Зоотовары': 37,
  'Игрушки для взрослых': 59,
  'Канцтовары': 16,
  'Книги': 52,
  'Компьютерная техника и ПО': 36,
  'Косметика, гигиена и парфюмерия': 14,
  'Мебель': 38,
  'Мед.товары': 27,
  'Муз.инструменты': 15,
  'Обувь': 25,
  'Одежда и галантерея': 21,
  'Пиво, слабоалкогольные напитки': 35,
  'Позиция по свободной цене': 32,
  'Продукты питания': 6,
  'Спорттовары': 18,
  'Стройматериалы': 28,
  'Сувениры': 29,
  'Табачные изделия': 7,
  'Текстильные товары': 17,
  'Упаковка': 19,
  'Хозтовары': 24,
  'Цветы': 30,
  'Ювелирные изделия': 60,
  'н/д': 9},
 'category': {'Автомобили и мотоциклы': 'Непрод',
  'Алкоголь': 'Алкоголь',
  'Бытовая техника, оборудование и электроника': 'Непрод',
  'Бытовые услуги': 'Непрод',
  'Детские товары, игрушки': 'Непрод',
  'Зоотовары': 'Непрод',
  'Игрушки для взрослых': 'Непрод',
  'Канцтовары': 'Непрод',
  'Книги': 'Непрод',
  'Компьютерная техника и ПО': 'Непрод',
  'Косметика, гигиена и парфюмерия': 'Непрод',
  'Мебель': 'Непрод',
  'Мед.товары': 'Непрод',
  'Муз.инструменты': 'Непрод',
  'Обувь': 'Непрод',
  'Одежда и галантерея': 'Непрод',
  'Пиво, слабоалкогольные напитки': 'Алкоголь',
  'Позиция по свободной цене': 'Позиция по свободной цене',
  'Продукты питания': 'Прод',
  'Спорттовары': 'Непрод',
  'Стройматериалы': 'Непрод',
  'Сувениры': 'Непрод',
  'Табачные изделия': 'Непрод',
  'Текстильные товары': 'Непрод',
  'Упаковка': 'Непрод',
  'Хозтовары': 'Непрод',
  'Цветы': 'Непрод',
  'Ювелирные изделия': 'Непрод',
  'н/д': 'н/д'},
 'low_category': {'Автомобили и мотоциклы': 'Непрод',
  'Алкоголь': 'Прод',
  'Бытовая техника, оборудование и электроника': 'Непрод',
  'Бытовые услуги': 'Непрод',
  'Детские товары, игрушки': 'Непрод',
  'Зоотовары': 'Непрод',
  'Игрушки для взрослых': 'Непрод',
  'Канцтовары': 'Непрод',
  'Книги': 'Непрод',
  'Компьютерная техника и ПО': 'Непрод',
  'Косметика, гигиена и парфюмерия': 'Непрод',
  'Мебель': 'Непрод',
  'Мед.товары': 'Непрод',
  'Муз.инструменты': 'Непрод',
  'Обувь': 'Непрод',
  'Одежда и галантерея': 'Непрод',
  'Пиво, слабоалкогольные напитки': 'Прод',
  'Позиция по свободной цене': 'Непрод',
  'Продукты питания': 'Прод',
  'Спорттовары': 'Непрод',
  'Стройматериалы': 'Непрод',
  'Сувениры': 'Непрод',
  'Табачные изделия': 'Непрод',
  'Текстильные товары': 'Непрод',
  'Упаковка': 'Непрод',
  'Хозтовары': 'Непрод',
  'Цветы': 'Непрод',
  'Ювелирные изделия': 'Непрод',
  'н/д': 'Непрод'}}

# Join with train dataset

In [22]:
train = pd.read_csv('data/evo_train.csv.gz', compression='gzip', index_col='id')
train.head()

                                      NAME  GROUP_ID
id
0            Пиво "Жигулевское" 0,5 л. св.        35
1   СОУС ТОМАТНЫЙ БУЗДЯК 670Г ТАТАРСКИЙ /8         6
2               Сигареты  Esse SS Exchange         7
3                                 Петрушка         6
4                               пиво ягерь        35

In [31]:
data = train.join(categories, on='GROUP_ID')
data.head()

,NAME,GROUP_ID,category,sub_category
id,,,,
0,"Пиво ""Жигулевское"" 0,5 л. св.",35,Алкоголь,"Пиво, слабоалкогольные напитки"
1,СОУС ТОМАТНЫЙ БУЗДЯК 670Г ТАТАРСКИЙ /8,6,Прод,Продукты питания
2,Сигареты Esse SS Exchange,7,Непрод,Табачные изделия
3,Петрушка,6,Прод,Продукты питания
4,пиво ягерь,35,Алкоголь,"Пиво, слабоалкогольные напитки"