In [1]:
import pandas as pd
import numpy as np

In [15]:
categories = pd.read_csv('data/categories.csv.gz', compression='gzip', index_col='GROUP_ID')
categories.head()

,NAME,PATH
GROUP_ID,,
6,Продукты питания,Прод->Продукты питания
7,Табачные изделия,Непрод->Табачные изделия
9,н/д,н/д->н/д
12,"Бытовая техника, оборудование и электроника","Непрод->Бытовая техника, оборудование и электр..."
14,"Косметика, гигиена и парфюмерия","Непрод->Косметика, гигиена и парфюмерия"

In [16]:
categories = categories['PATH'].str.split('->', expand=True).rename(columns={0: 'category', 1: 'sub_category'})
categories.head()

         category                                 sub_category
GROUP_ID
6            Прод                             Продукты питания
7          Непрод                             Табачные изделия
9             н/д                                          н/д
12         Непрод  Бытовая техника, оборудование и электроника
14         Непрод              Косметика, гигиена и парфюмерия

In [14]:
categories['category'].unique()

array(['Прод', 'Непрод', 'н/д', 'Позиция по свободной цене', 'Алкоголь'], dtype=object)

In [18]:
categories['sub_category'].unique()

array(['Продукты питания', 'Табачные изделия', 'н/д',
       'Бытовая техника, оборудование и электроника',
       'Косметика, гигиена и парфюмерия', 'Муз.инструменты', 'Канцтовары',
       'Текстильные товары', 'Спорттовары', 'Упаковка', 'Бытовые услуги',
       'Одежда и галантерея', 'Автомобили и мотоциклы', 'Хозтовары',
       'Обувь', 'Детские товары, игрушки', 'Мед.товары', 'Стройматериалы',
       'Сувениры', 'Цветы', 'Позиция по свободной цене', 'Алкоголь',
       'Пиво, слабоалкогольные напитки', 'Компьютерная техника и ПО',
       'Зоотовары', 'Мебель', 'Книги', 'Игрушки для взрослых',
       'Ювелирные изделия'], dtype=object)

In [19]:
categories.to_csv('data/categories_parsed.csv.gz', compression='gzip')

# Join with train dataset

In [22]:
train = pd.read_csv('data/evo_train.csv.gz', compression='gzip', index_col='id')
train.head()

                                      NAME  GROUP_ID
id
0            Пиво "Жигулевское" 0,5 л. св.        35
1   СОУС ТОМАТНЫЙ БУЗДЯК 670Г ТАТАРСКИЙ /8         6
2               Сигареты  Esse SS Exchange         7
3                                 Петрушка         6
4                               пиво ягерь        35

In [31]:
data = train.join(categories, on='GROUP_ID')
data.head()

,NAME,GROUP_ID,category,sub_category
id,,,,
0,"Пиво ""Жигулевское"" 0,5 л. св.",35,Алкоголь,"Пиво, слабоалкогольные напитки"
1,СОУС ТОМАТНЫЙ БУЗДЯК 670Г ТАТАРСКИЙ /8,6,Прод,Продукты питания
2,Сигареты Esse SS Exchange,7,Непрод,Табачные изделия
3,Петрушка,6,Прод,Продукты питания
4,пиво ягерь,35,Алкоголь,"Пиво, слабоалкогольные напитки"